body {
	background-color: #fff;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	max-height: 10px;
	background: white;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
	display: table-cell;
	vertical-align: center;
}

.song-choice {
	color: black;
	text-align: center;
	padding: 35% 5%;
}

@media (max-width: 700px) {
	#container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.button {
		margin-left: 0px;
		margin-right: 0px;
	}

	.square {
		width: 40%;
		max-height: 40px;
	}

	.song-choice {
		font-size: 1.2em;
	}
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

.header {
	background: #82c4c3;
	color: white;
}

h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	font-size: 3em;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0 0 0;
}

.row {
	padding: 1px 0 2px 0;
	text-align: center;
	margin: 0 50px 0 50px;
}

#message {
	display: inline-block;
	width: 40%;
}

#stripe {
	background: #e4e4e4;
	height: 20px;
	text-align: center;
	color: black;
}

.selected {
	color: white;
	background: #82c4c3;
}

button {
	display: inline-table;
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 600;
	color: #82c4c3;
	letter-spacing: 0px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: #82c4c3;
}

form {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}
